@media ( max-width: 30em){ /* 30 x 16px = 480px */

        .mi-tabla-movil table {
            width: 100%;
            font-size: .9em;
        }
        .mi-tabla-movil table tr {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc !important;
            padding: 1em;
            margin-bottom: 1em;

        }
        .mi-tabla-movil table td, table th{
            border: none;
        }
        .mi-tabla-movil table td[data-titulo]{
            display: flex;
        }
        .mi-tabla-movil table td[data-titulo]::before{
            content: attr( data-titulo );
            width: 95px;
            font-weight: bold;
        }
        .mi-tabla-movil table thead {
            display: none;
        }

    
}

.disabled-pagination {
    pointer-events: none;
    color: grey;
    cursor: default;
    text-decoration: none;
}

.mi-nav > li a {
    color: #23ccef !important;
}

.mi-nav > li a:hover {
    color: #11bfe3 !important;
    border-color: #eee #eee #ddd !important;
    background-color: transparent !important;
}

.mi-nav > li.active a {
    color: #11bfe3 !important;
    border-bottom-color: transparent !important;
}

.mi-nav > li.active a:hover {
    color: #11bfe3 !important;
    border-bottom-color: transparent !important;
}

.wrapper{
      display: flex;
      justify-content: center;
      width: 100%;
  }


  .input-file{
      background-color: transparent;
      position: relative;
      height: 250px;
      width: 300px;
      margin-top: 1rem;
      cursor: pointer;
  }


  .input-file:after{
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: #ffffff;
      background-image: url('../../assets/img/subir.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100px;
      position: absolute;
      top: 0;
      cursor: pointer;

  }

  .wrapper-button{
      padding-top: 1rem;
      width: 100%;
  }

  .w-100{
      width: 100%;
  }

  .button-subir{
      
      width: 100%;
      padding:.75rem;
      text-transform: uppercase;
      font-weight: 600;
      border:solid 1px #eaeaea;
      border-radius:.15rem;
      font-size: 0.875rem;
  }
  .preview-img{
      position: absolute;
      top: 65px;
      background-color: #f9f9f9;
  }
  .preview-img img{
      width: 100%;
      height: 230px;
      object-fit: contain;
  }

  .position-relative{
      position: relative;
  }
  .p-1{
      padding-top: .5rem;
  }
  .clear-image{   
      position: absolute;
      right: 0;
      margin: .5rem;
      border:0;
      padding: .25rem;
  }

  .etiqueta {
      color: rgb(166, 158, 147);
      font-size: 0.875rem;
      font-weight: 600;
      margin-left: 34px;
  }

  .text-invalid {
    color: #dc3545 !important;
  }