<div class="main-content" id="id_scroll">
<div class="container-fluid">

    

    <div class="row" >
        <div class="col-md-12">

            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-tn btn-round btn-fill" (click)="goBack()" style="display: inline-block;">
                                <span class="btn-label">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                                Atrás
                            </button>
                            
                            <h4 class="title" style="display: inline-block; margin-left: 5px;">Saldos</h4>
                        </div>
                    </div>
                </div>
                <div class="content">

                    
    <ul role="tablist" class="nav nav-tabs mi-nav">
        <!-- <li role="presentation" class="active" (click)="selectTab(1)">
            <a href="#tab1" data-toggle="tab">Proveedores</a>
        </li> -->
        <li role="presentation" class="active" (click)="selectTab(2)">
            <a href="#tab2" data-toggle="tab">Usuarios</a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- <div id="tab1" class="tab-pane active" >

            <div class="row" style="margin-top: 14px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" placeholder="Buscar..." class="form-control" id="input-search" #txtSearch (keyup)="onSearchModel( txtSearch.value )">
                    </div>
                </div>
            </div>

            
            <div class="row" style="margin-top: 14px;">
              <div class="col-md-12"> 
                <div class="table-full-width mi-tabla-movil">
                  <table class="table">
                    <thead>
                      <tr>
                        <th >Fecha</th>
                        <th >Proveedor</th>
                        <th >Monto <small>(MXN)</small></th>
                      </tr>
                    </thead>  
                    <tbody>
                      <tr *ngFor="let item of listado | filtro:page:search:filter_model; index as i">
                          
                        <td data-titulo="Fecha">{{item.created_at}}</td>
                        <td data-titulo="API">{{item.api.api_proveedor}}</td>
                        <td data-titulo="Monto">{{item.saldo}}</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 14px;">
              <div class="col-md-12 text-center"> 
                <ul class="pagination">
                    <li><a class="arrow" href="javascript:void(0)" (click)="prevPage()">«</a></li>
                    <li class="active"><a href="javascript:void(0)" >{{currentPage}}</a></li>
                    <li [class.disabled-pagination]="(listado | filtro:page:search:filter_model).length === 0"><a class="arrow" href="javascript:void(0)" (click)="nextPage()">»</a></li>
                </ul>
              </div>
            </div>
                
        </div> -->
        <div id="tab2" class="tab-pane active" >

            <div class="row" style="margin-top: 14px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" placeholder="Buscar..." class="form-control" id="input-search2" #txtSearch2 (keyup)="onSearchModel2( txtSearch2.value )">
                    </div>
                </div>
            </div>

            
            <div class="row" style="margin-top: 14px;">
              <div class="col-md-12"> 
                <div class="table-full-width mi-tabla-movil">
                  <table class="table">
                    <thead>
                      <tr>
                        <th >Fecha</th>
                        <th >Email</th>
                        <th >Método de pago</th>
                        <th >Monto <small>(MXN)</small></th>
                      </tr>
                    </thead>  
                    <tbody>
                      <tr *ngFor="let item of listado2 | filtro:page2:search2:filter_model2; index as i">
                          
                        <td data-titulo="Fecha">{{item.created_at}}</td>
                        <td data-titulo="Email">{{item.usuario.email}}</td>
                        <td data-titulo="Pago">{{item.api_tipo_pago}}</td>
                        <td data-titulo="Monto">{{item.total}}</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 14px;">
              <div class="col-md-12 text-center"> 
                <ul class="pagination">
                    <!--
                        color-classes: "pagination-blue", "pagination-azure", "pagination-orange", "pagination-red", "pagination-green"
                    -->
                    <li><a class="arrow" href="javascript:void(0)" (click)="prevPage2()">«</a></li>
                    <!-- <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li> -->
                    <li class="active"><a href="javascript:void(0)" >{{currentPage2}}</a></li>
                    <!-- <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li> -->
                    <li [class.disabled-pagination]="(listado2 | filtro:page2:search2:filter_model2).length === 0"><a class="arrow" href="javascript:void(0)" (click)="nextPage2()">»</a></li>
                </ul>
              </div>
            </div>

        </div>
    </div>

                </div>
            </div> <!-- end card -->

        </div> <!--  end col-md-6  -->
    </div> <!-- end row -->


</div>
</div>



