<div class="main-content" id="id_scroll">
<div class="container-fluid">

    <!-- flujo 1 -->
    <div [hidden]="flujo != 1" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <button type="button" class="btn btn-tn btn-round btn-fill" (click)="goBack()" style="display: inline-block;">
                        <span class="btn-label">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        Atrás
                    </button>
                    
                    <h4 class="title" style="display: inline-block; margin-left: 5px;"> Nueva guía prepagada</h4>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="flujo != 1" class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
              <div class="header">

                <h4 class="title">Tús paquetes prepagados</h4>

              </div>
              <div class="content">

                <div class="row">
                  <div class="col-md-12 form-group">
                    <label>Paquetes prepagados</label>
                    <select class="form-control" id="paquetes" (change)="changeSetPaquete($event.target.value)" [(ngModel)]="paquete_id">
                      <option disabled selected> -- Selecciona un paquete -- </option>
                      <option *ngFor="let item of paquetes" [value]="item.id">{{item.count_disponibles}} - {{item.alias}} - {{item.proveedor}} {{item.servicio_tipo_aux}} - {{item.tipo}} {{item.largo}}x{{item.alto}}x{{item.ancho}}</option>
                    </select>
                  </div>
                </div>

                <div class="row" *ngIf="paquete_id">
                  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">   
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" >
                    <h4 class="text-warning bold">Paquete</h4>
                    <ul class="mb-5">
                      <li>{{paquete_alias}}</li>
                    </ul>
                    <h4 class="text-warning bold">Guías disponibles</h4>
                    <ul class="mb-5">
                      <li>{{paquete_guias}}</li>
                    </ul>
                    <h4 class="text-warning bold">Precio</h4>
                    <ul class="mb-5">
                      <li>{{paquete_precio}} MXN</li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox_recoleccion" [(ngModel)]="flag_recoleccion" name="flag_recoleccion">
                    <label class="form-check-label" for="checkbox_recoleccion">&nbsp;&nbsp;Solicitar recolección</label>
                  </div>
                </div>
                  
              </div>
          </div>
      </div>
    </div>

    <div [hidden]="flujo != 1" class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">

                  <h4 class="title">Información de origen</h4>

                </div>
                <div class="content">

                  <form autocomplete="off" [formGroup]="myFormRemitente">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Libreta de direcciones</label>
                        <select *ngIf="!corregir" class="form-control" id="r_origenes" (change)="changeSetOrigen($event.target.value)">
                          <option disabled selected> -- direcciones recientes -- </option>
                          <option *ngFor="let origen of origenes" [value]="origen.id">{{origen.alias}} - {{origen.nombre}} {{origen.apellido}} - {{origen.cp}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Buscar</label>
                        <input type="text" class="form-control" id="buscar" placeholder="Buscar..." formControlName="buscar"  >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" *ngIf="origenesFilter.length > 0" style="margin-top: -16px;">      
                        <ul style="height: 150px !important; overflow-x: scroll; background-color: #fff; border : 1px solid #ccc;">
                          <li > -- Selecciona una dirección -- </li>
                          <li *ngFor="let item of origenesFilter"
                           style="cursor: pointer; margin-top: 5px;"
                           (click)="changeSetOrigen(item.id)">
                            {{item.nombre}} {{item.apellido}} - {{item.cp}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="r_nombre" placeholder="Nombre" formControlName="nombre" [class.error]="r_nombreNoValido">
                        <small *ngIf="r_nombreNoValido" class="text-danger">
                          Requerido (2-14) (Solo letras y números)
                        </small>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Apellido</label>
                        <input type="text" class="form-control" id="r_apellido" placeholder="Apellido" formControlName="apellido" [class.error]="r_apellidoNoValido">
                        <small *ngIf="r_apellidoNoValido" class="text-danger">
                          Requerido (2-14) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Empresa</label>
                        <input type="text" class="form-control" id="r_empresa" placeholder="Empresa (opcional)" formControlName="empresa" [class.error]="r_empresaNoValido">
                        <small *ngIf="r_empresaNoValido" class="text-danger">
                          Opcional (2-28) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="r_email" placeholder="Email" formControlName="email" [class.error]="r_emailNoValido">
                        <small *ngIf="r_emailNoValido" class="text-danger">
                          Requerido
                        </small>
                      </div> -->
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" id="r_telefono" placeholder="Teléfono" formControlName="telefono" [class.error]="r_telefonoNoValido">
                        <small *ngIf="r_telefonoNoValido" class="text-danger">
                          Requerido (10) (Solo números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Calle</label>
                        <input type="text" class="form-control" id="r_calle" placeholder="Calle" formControlName="calle" [class.error]="r_calleNoValido">
                        <small *ngIf="r_calleNoValido" class="text-danger">
                          Requerido (2-24) (Solo letras y números)
                        </small>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 form-group">
                        <label>No. ext.</label>
                        <input type="text" class="form-control" id="r_num_exterior" placeholder="No. exterior" formControlName="num_exterior" [class.error]="r_num_exteriorNoValido">
                        <small *ngIf="r_num_exteriorNoValido" class="text-danger">
                          Requerido (2-5) (Solo letras y números)
                        </small>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 form-group">
                        <label>No. int.</label>
                        <input type="text" class="form-control" id="r_num_interior" placeholder="No. interior" formControlName="num_interior" [class.error]="r_num_interiorNoValido">
                        <small *ngIf="r_num_interiorNoValido" class="text-danger">
                          Opcional (2-5) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Referencia</label>
                        <input type="text" class="form-control" id="r_referencia" placeholder="Referencias / Entre calles" formControlName="referencia" [class.error]="r_referenciaNoValido">
                        <small *ngIf="r_referenciaNoValido" class="text-danger">
                          Requerido (2-25) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Código postal</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="r_cp" placeholder="Código postal" formControlName="cp" [class.error]="r_cpNoValido">
                          <span class="input-group-btn">
                            <button class="btn btn-info" (click)="validarZipcode(myFormRemitente.value.cp,0)">
                              Buscar
                            </button>
                          </span>
                        </div>
                        <small *ngIf="r_cpNoValido" class="text-danger">
                          Requerido (5) (Solo números)
                        </small>
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Colonia</label>
                        <select class="form-control" id="r_colonias" formControlName="colonia">
                          <option disabled selected> -- seleccione una colonia -- </option>
                          <option *ngFor="let colonia of coloniasR" [value]="colonia">{{colonia}}</option>
                        </select>
                      </div>
                    </div> -->

                    <div class="row">
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="form-group">
                          <label>Colonia</label>
                          <select class="form-control" id="r_colonias" formControlName="colonia">
                            <option disabled selected> -- seleccione una colonia -- </option>
                            <option *ngFor="let colonia of coloniasR" [value]="colonia">{{colonia}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" style="margin-top: 24px;">
                        <button class="btn btn-social btn-round btn-linkedin" (click)="aCrearColonia(1)">
                            <i class="fa fa-edit"></i>
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Municipio</label>
                        <input type="text" class="form-control" id="r_ciudad" placeholder="Municipio" formControlName="ciudad" [class.error]="r_ciudadNoValido">
                        <small *ngIf="r_ciudadNoValido" class="text-danger">
                          Requerido (2-30)
                        </small>
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Estado</label>
                        <input type="text" class="form-control" id="r_estado" placeholder="Estado" formControlName="estado" [class.error]="r_estadoNoValido">
                        <small *ngIf="r_estadoNoValido" class="text-danger">
                          Requerido (2-30)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-md-12 form-group">
                        <div class="checkbox">
                            <input id="checkbox22" type="checkbox" formControlName="rfc_bandera">
                            <label for="checkbox22">
                              RFC
                            </label>
                        </div>
                      </div> -->
                      <div class="col-md-12 form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox22" formControlName="rfc_bandera">
                        <label class="form-check-label" for="checkbox22">&nbsp;&nbsp;RFC</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group" [hidden]="!myFormRemitente.value.rfc_bandera">
                        <label>RFC</label>
                        <input type="text" class="form-control" id="r_rfc" placeholder="RFC" formControlName="rfc" [class.error]="r_rfcNoValido">
                        <small *ngIf="r_rfcNoValido" class="text-danger">
                          Requerido (13) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">           
                      <div class="demo-radio col-md-12">
                        <label class="custom-control custom-radio" [hidden]="!myFormRemitente.value.actualizar_bandera">
                          <input type="radio" class="custom-control-input" name="radios_dir" formControlName="radios_dir" value="1">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">&nbsp;&nbsp;Actualizar dirección</span>
                        </label>
                        <label class="custom-control custom-radio" [hidden]="myFormRemitente.value.actualizar_bandera">
                          <input type="radio" class="custom-control-input" name="radios_dir" formControlName="radios_dir" value="2">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">&nbsp;&nbsp;Guardar como nueva dirección</span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group" [hidden]="!myFormRemitente.value.guardar && !myFormRemitente.value.actualizar">
                        <label>Álias</label>
                        <input type="text" class="form-control" id="r_alias" placeholder="Álias" formControlName="alias" [class.error]="r_aliasNoValido">
                        <small *ngIf="r_aliasNoValido" class="text-danger">
                          Requerido (2-50) (Solo letras y números)
                        </small>
                      </div>
                    </div>

                  </form>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">

                  <h4 class="title">Información de destino</h4>

                </div>
                <div class="content">

                  <form autocomplete="off" [formGroup]="myFormDestino">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Libreta de direcciones</label>
                        <select *ngIf="!corregir" class="form-control" id="d_destinos" (change)="changeSetDestino($event.target.value)">
                          <option disabled selected> -- direcciones recientes -- </option>
                          <option *ngFor="let destino of destinos" [value]="destino.id">{{destino.alias}} - {{destino.nombre}} {{destino.apellido}} - {{destino.cp}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Buscar</label>
                        <input type="text" class="form-control" id="buscar" placeholder="Buscar..." formControlName="buscar"  >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" *ngIf="destinosFilter.length > 0" style="margin-top: -16px;">      
                        <ul style="height: 150px !important; overflow-x: scroll; background-color: #fff; border : 1px solid #ccc;">
                          <li > -- Selecciona una dirección -- </li>
                          <li *ngFor="let item of destinosFilter"
                           style="cursor: pointer; margin-top: 5px;"
                           (click)="changeSetDestino(item.id)">
                            {{item.nombre}} {{item.apellido}} - {{item.cp}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="d_nombre" placeholder="Nombre" formControlName="nombre" [class.error]="d_nombreNoValido">
                        <small *ngIf="d_nombreNoValido" class="text-danger">
                          Requerido (2-14) (Solo letras y números)
                        </small>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Apellido</label>
                        <input type="text" class="form-control" id="d_apellido" placeholder="Apellido" formControlName="apellido" [class.error]="d_apellidoNoValido">
                        <small *ngIf="d_apellidoNoValido" class="text-danger">
                          Requerido (2-14) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Empresa</label>
                        <input type="text" class="form-control" id="d_empresa" placeholder="Empresa (opcional)" formControlName="empresa" [class.error]="d_empresaNoValido">
                        <small *ngIf="d_empresaNoValido" class="text-danger">
                          Opcional (2-28) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 form-group">
                        <input type="text" class="form-control" id="d_email" placeholder="Email" formControlName="email" [class.error]="d_emailNoValido">
                        <small *ngIf="d_emailNoValido" class="text-danger">
                          Requerido
                        </small>
                      </div> -->
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" id="d_telefono" placeholder="Teléfono" formControlName="telefono" [class.error]="d_telefonoNoValido">
                        <small *ngIf="d_telefonoNoValido" class="text-danger">
                          Requerido (10) (Solo números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                        <label>Calle</label>
                        <input type="text" class="form-control" id="d_calle" placeholder="Calle" formControlName="calle" [class.error]="d_calleNoValido">
                        <small *ngIf="d_calleNoValido" class="text-danger">
                          Requerido (2-24) (Solo letras y números)
                        </small>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 form-group">
                        <label>No. ext.</label>
                        <input type="text" class="form-control" id="d_num_exterior" placeholder="No. exterior" formControlName="num_exterior" [class.error]="d_num_exteriorNoValido">
                        <small *ngIf="d_num_exteriorNoValido" class="text-danger">
                          Requerido (2-5) (Solo letras y números)
                        </small>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 form-group">
                        <label>No. int.</label>
                        <input type="text" class="form-control" id="d_num_interior" placeholder="No. interior" formControlName="num_interior" [class.error]="d_num_interiorNoValido">
                        <small *ngIf="d_num_interiorNoValido" class="text-danger">
                          Opcional (2-5) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Referencia</label>
                        <input type="text" class="form-control" id="d_referencia" placeholder="Referencias / Entre calles" formControlName="referencia" [class.error]="d_referenciaNoValido">
                        <small *ngIf="d_referenciaNoValido" class="text-danger">
                          Requerido (2-25) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Código postal</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="d_cp" placeholder="Código postal" formControlName="cp" [class.error]="d_cpNoValido">
                          <span class="input-group-btn">
                            <button class="btn btn-info" (click)="validarZipcode(myFormDestino.value.cp,1)">
                              Buscar
                            </button>
                          </span>
                        </div>
                        <small *ngIf="d_cpNoValido" class="text-danger">
                          Requerido (5) (Solo números)
                        </small>
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-md-12 form-group">
                        <label>Colonia</label>
                        <select class="form-control" id="d_colonias" formControlName="colonia">
                          <option disabled selected> -- seleccione una colonia -- </option>
                          <option *ngFor="let colonia of coloniasD" [value]="colonia">{{colonia}}</option>
                        </select>
                      </div>
                    </div> -->

                    <div class="row">
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="form-group">
                          <label>Colonia</label>
                          <select class="form-control" id="d_colonias" formControlName="colonia">
                            <option disabled selected> -- seleccione una colonia -- </option>
                            <option *ngFor="let colonia of coloniasD" [value]="colonia">{{colonia}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" style="margin-top: 24px;">
                        <button class="btn btn-social btn-round btn-linkedin" (click)="aCrearColonia(2)">
                            <i class="fa fa-edit"></i>
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label>Municipio</label>
                        <input type="text" class="form-control" id="d_ciudad" placeholder="Municipio" formControlName="ciudad" [class.error]="d_ciudadNoValido">
                        <small *ngIf="d_ciudadNoValido" class="text-danger">
                          Requerido (2-30)
                        </small>
                      </div>
                      <div class="col-md-6 form-group">
                        <label>Estado</label>
                        <input type="text" class="form-control" id="d_estado" placeholder="Estado" formControlName="estado" [class.error]="d_estadoNoValido">
                        <small *ngIf="d_estadoNoValido" class="text-danger">
                          Requerido (2-30)
                        </small>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-md-12 form-group">
                        <div class="checkbox">
                            <input id="checkbox33" type="checkbox" formControlName="rfc_bandera">
                            <label for="checkbox33">
                              RFC
                            </label>
                        </div>
                      </div> -->
                      <div class="col-md-12 form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox33" formControlName="rfc_bandera">
                        <label class="form-check-label" for="checkbox33">&nbsp;&nbsp;RFC</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group" [hidden]="!myFormDestino.value.rfc_bandera">
                        <label>RFC</label>
                        <input type="text" class="form-control" id="d_rfc" placeholder="RFC" formControlName="rfc" [class.error]="d_rfcNoValido">
                        <small *ngIf="d_rfcNoValido" class="text-danger">
                          Requerido (13) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    <div class="row">           
                      <div class="demo-radio col-md-12">
                        <label class="custom-control custom-radio" [hidden]="!myFormDestino.value.actualizar_bandera">
                          <input type="radio" class="custom-control-input" name="radios_dir" formControlName="radios_dir" value="1">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">&nbsp;&nbsp;Actualizar dirección</span>
                        </label>
                        <label class="custom-control custom-radio" [hidden]="myFormDestino.value.actualizar_bandera">
                          <input type="radio" class="custom-control-input" name="radios_dir" formControlName="radios_dir" value="2">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">&nbsp;&nbsp;Guardar como nueva dirección</span>
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group" [hidden]="!myFormDestino.value.guardar && !myFormDestino.value.actualizar">
                        <label>Álias</label>
                        <input type="text" class="form-control" id="d_alias" placeholder="Álias" formControlName="alias" [class.error]="d_aliasNoValido">
                        <small *ngIf="d_aliasNoValido" class="text-danger">
                          Requerido (2-50) (Solo letras y números)
                        </small>
                      </div>
                    </div>
                    

                  </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="flujo != 1" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div style="text-align: right;">
                      <button style="display: inline-block;" class="btn btn-tn btn-primary btn-block" title="Aceptar" (click)="validarDirecciones()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>



