@media ( max-width: 30em){ /* 30 x 16px = 480px */

        .mi-tabla-movil table {
            width: 100%;
            font-size: .9em;
        }
        .mi-tabla-movil table tr {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc !important;
            padding: 1em;
            margin-bottom: 1em;

        }
        .mi-tabla-movil table td, table th{
            border: none;
        }
        .mi-tabla-movil table td[data-titulo]{
            display: flex;
        }
        .mi-tabla-movil table td[data-titulo]::before{
            content: attr( data-titulo );
            width: 75px;
            font-weight: bold;
        }
        .mi-tabla-movil table thead {
            display: none;
        }

    
}

.disabled-pagination {
    pointer-events: none;
    color: grey;
    cursor: default;
    text-decoration: none;
}

.mi-nav > li a {
    color: #23ccef !important;
}

.mi-nav > li a:hover {
    color: #11bfe3 !important;
    border-color: #eee #eee #ddd !important;
    background-color: transparent !important;
}

.mi-nav > li.active a {
    color: #11bfe3 !important;
    border-bottom-color: transparent !important;
}

.mi-nav > li.active a:hover {
    color: #11bfe3 !important;
    border-bottom-color: transparent !important;
}

#container-iframe {
    width: 100%;
    height: 500px; /* Puedes ajustar la altura según tus necesidades */
    /*border: 1px solid #000;*/
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}